@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;400&display=swap");

* {
  font-family: "Mali";
}

.main-bg {
  background-color: #e91d63 !important;
}

a {
  color: rgb(255, 255, 255) !important;
}

.nav-link.active {
  color: #e91d63 !important;
}

.primary-btn {
  background-color: #e91d63 !important;
  border-color: #e91d63 !important;
  box-shadow: none;
  color: rgb(255, 255, 255) !important;
}

a.nav-link.active {
  color: #fff !important;
}

.dark-mode .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.dark-mode .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #d11b59;
}

.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:hover,
.dark-mode select:-webkit-autofill,
.dark-mode select:-webkit-autofill:focus,
.dark-mode select:-webkit-autofill:hover,
.dark-mode textarea:-webkit-autofill,
.dark-mode textarea:-webkit-autofill:focus,
.dark-mode textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: #f00;
}

.vh-90 {
  height: 90vh !important;
}

.gif {
  position: fixed;
  left: 50%;
  top: 40%;
  z-index: 1000;
}

.loading {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  overflow: overlay;
  z-index: 101;
  background: #303030;
  opacity: 0.85;

    
  
}

@media screen and (max-width: 1440px) {
  .gif {
    left: 43.5%;
  }
}

@media screen and (max-width: 1024px) {
  .gif {
    left: 41%;
  }
}

@media screen and (max-width: 768px) {
  .gif {
    left: 38%;
  }
}
@media screen and (max-width: 425px) {
  .gif {
    left: 30%;
  }
}
@media screen and (max-width: 375px) {
  .gif {
    left: 25%;
  }
}
@media screen and (max-width: 320px) {
  .gif {
    left: 20%;
  }
}